In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
df.shape

(768, 9)

In [9]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [25]:
x=df.iloc[:,:8]
y=df.iloc[:,-1]

In [26]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [27]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [28]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [39]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()

x_train=sc_x.fit_transform(x_train)
x_test=sc_x.fit_transform(x_test)

In [40]:
#Random forest
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier(n_estimators=10,criterion='entropy',random_state=0)
forest.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [41]:
accuracy_score(y_test,forest.predict(x_test))

0.7532467532467533

In [37]:
#Confusion matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#random forest
cmr=confusion_matrix(y_test,forest.predict(x_test))
TP=cmr[0][0]
TN=cmr[1][1]
FN=cmr[1][0]
FP=cmr[0][1]
print(cmr)
print()
print('testing accuracy:',(TP+TN)/(TP+TN+FN+FP))

[[85 14]
 [24 31]]

testing accuracy: 0.7532467532467533

In [38]:
cmr=confusion_matrix(y_test,log.predict(x_test))
TP=cmr[0][0]
TN=cmr[1][1]
FN=cmr[1][0]
FP=cmr[0][1]
print(cmr)
print()
print('testing accuracy:',(TP+TN)/(TP+TN+FN+FP))

[[78 21]
 [18 37]]

testing accuracy: 0.7467532467532467